.onagre {
  background: #1e2030;
  color: #a5adcb;
  --font-family: "MesloLGS Nerd Font Mono";
  --icon-size: 24;
  border-radius: 0;
  border-width: 1;
  border-color: #363a4f;
  padding: 1;

  .container {
    .rows {
      --height: fill-portion 6;

      .row {
        --width: 400;
        padding: 4px;

        .icon {
          padding-top: 4px;
        }

        .category-icon {
          padding-left: 0;
          --icon-size: 0;
        }

        .title {
          font-size: 18px;
        }

        .description {
          font-size: 12px;
        }
      }

      .row-selected {
        --width: 400;
        color: #cad3f5;

        .icon {
          padding-top: 4px;
        }

        .category-icon {
          padding-left: 0;
          --icon-size: 0;
        }

        .title {
          font-size: 18px;
          color: #c6a0f6;
        }

        .description {
          font-size: 12px;
        }
      }
    }

    .search {
      background: #181926;
      color: #cad3f5;
      border-width: 1;
      border-color: #363a4f;
      --height: fill-portion 1;
      padding: 4px;

      .input {
        --placeholder-color: #8b949e;
        font-size: 18px;
      }
    }

    .scrollable {
      width: 2px;
      background: #1e2030;

      .scroller {
        width: 2px;
        color: #181926;
      }
    }
  }
}

