.onagre {
  background: #21262d;
  color: #8b949e;
  --font-family: "MesloLGS Nerd Font";
  --icon-size: 24;
  border-radius: 0;
  border-width: 1;
  border-color: #484f58;
  padding: 2;

  .container {
    .rows {
      --height: fill-portion 6;

      .row {
        padding: 8px;
        border-radius: 4;
        --width: 398;

        .icon {
          padding-top: 4px;
        }

        .category-icon {
          padding-left: 0;
          --icon-size: 0;
        }

        .title {
          font-size: 18px;
        }

        .description {
          font-size: 12px;
        }
      }

      .row-selected {
        --width: 398;
        padding: 8px;
        background: #30363d;
        color: #f0f6fc;

        .icon {
          padding-top: 4px;
        }

        .category-icon {
          padding-left: 0;
          --icon-size: 0;
        }

        .title {
          font-size: 18px;
          color: #F78166;
        }

        .description {
          font-size: 12px;
        }
      }
    }

    .search {
      background: #161b22;
      color: #d8dee9;
      --height: fill-portion 1;
      padding: 4px;

      .input {
        --placeholder-color: #6e7681;
        font-size: 18px;
      }
    }

    .scrollable {
      width: 2px;
      background: #161b22;

      .scroller {
        width: 4px;
        color: #424f58;
      }
    }
  }
}

