* {
  font-family: MesloLGS Nerd Font, monospace;
  font-size: 14px;
  border-radius: 0;
}

window#waybar {
  background-color: #30363d;
  border-bottom: solid 1px #484f58;
}

#clock,
#pulseaudio,
#tray,
#language,
#window,
#cpu,
#memory,
#battery,
#bat2,
#network,
#backlight,
#custom-dnf,
#custom-pacman,
#custom-vpn,
#custom-media,
#idle_inhibitor
{
  color: #c9d1d9;
  padding: 0px 10px;
  margin: 0;
}

#language,
#battery,
#bat2,
#network,
#backlight,
#custom-vpn,
#custom-dnf,
#custom-pacman,
#idle_inhibitor
{
  background-color: #21262d;
  margin-bottom: 1px;
}

#window {
  color: #c9d1d9;
}

#window label {
  font-size: 0;
}

#window.empty {
  padding: 0;
}

#workspaces {
  margin: 0px 7px;
}

#workspaces button {
  padding: 0 5px;
  margin: 0;
  color: #8b949e;
  background-color: transparent;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
}

#workspaces button:hover {
  color: #c9d1d9;
  border-color: transparent;
  background: transparent;
}

#workspaces button.focused {
  color: #c9d1d9;
  border-bottom-color: #F78166;
}

#workspaces button.urgent {
  color:  #BF616A;
}

#custom-right,
#custom-right2,
#custom-left,
#custom-left2,
#custom-left3,
#custom-left4
{
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#custom-right {
  background-color: #21262d; 
  color: #88C0D0;
}

#custom-right2 {
  color: #21262d; 
}

#custom-left {
  color: #30363d;
  background-color: #21262d;
  margin-bottom: 1px;
}

#custom-left2, #custom-left4 {
  color: #c9d1d9;
}

#custom-left3 {
  color: #21262d;
}

#custom-left4 {
  background-color: #21262d;
}

#battery.charging {
  color: #34d058;
}

@keyframes blink {
    to {
        color: #21262d;
    }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
