* {
  font-family: Noto Sans, MesloLGS Nerd Font, monospace;
  font-size: 14px;
  border-radius: 0;
}

window#waybar {
  background-color: #0d1117;
  border-bottom: solid 1px #30363d;
}

#clock,
#pulseaudio,
#tray,
#language,
#window,
#cpu,
#memory,
#battery,
#bat2,
#network,
#backlight,
#custom-dnf,
#custom-pacman,
#custom-vpn,
#custom-media,
#custom-spotify,
#idle_inhibitor
{
  color: #c9d1d9;
  padding: 0px 10px;
  margin: 0;
}

#tray {
  padding: 0px 0px 0px 10px;
}

#language,
#battery,
#bat2,
#network,
#backlight,
#custom-vpn,
#custom-dnf,
#custom-pacman,
#idle_inhibitor,
#pulseaudio
{
  background-color: #010409;
  margin-bottom: 1px;
}

#window {
  color: #c9d1d9;
}

#window label {
  font-size: 14px;
}

#window.empty {
  padding: 0;
}

#workspaces {
  margin: 0px 0px 0px 3px;
}

#workspaces button {
  padding: 4px 0px 5px;
  margin: 0px 5px 0px -2px;
  color: #8b949e;
  font-weight: 500;
  background-color: transparent;
}

#workspaces button:not(:first-child) {
  margin: 0px 5px;
}

#workspaces button:hover {
  color: #c9d1d9;
  border-color: transparent;
  background: transparent;
}

#workspaces button.focused {
  color: #c9d1d9;
  border-bottom: 2px solid #f78166;
}

#workspaces button.urgent label {
  color: #58a6ff;
  background-color: rgba(56,139,253,0.15);
}

#workspaces button label {
  border-radius: 6px;
  padding: 5px 10px;
  background-color: transparent;
}

#workspaces button:hover:not(.urgent) label {
  background-color: rgba(177,186,196,0.12);
}

#custom-right,
#custom-right2,
#custom-left,
#custom-left2,
#custom-left3,
#custom-left4
{
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#custom-right {
  background-color: #010409; 
  color: #c9d1d9;
}

#custom-right2 {
  color: #010409; 
}

#custom-left {
  color: #0d1117;
  background-color: #010409;
  margin-bottom: 1px;
}

#custom-left2, #custom-left4 {
  color: #c9d1d9;
}

#custom-left3 {
  color: #010409;
}

#custom-left4 {
  background-color: #010409;
}

#battery.charging {
  color: #34d058;
}

@keyframes blink {
  to {
    color: #f85149;
  }
}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
