* {
  font-family: Fira Code Nerd Font, monospace;
  font-size: 12px;
  border-radius: 0;
}

window#waybar {
  background-color: #4c566a;
}

/* Start: Chromium rewrite styles */
/* window#waybar.chromium {
  background-color: #000000;
}

.chromium #workspaces button.focused {
  color: #000000;
}

.chromium #clock,
.chromium #tray,
.chromium #window,
.chromium #custom-right
{
  background-color: #212121;
}

.chromium #language,
.chromium #language,
.chromium #battery,
.chromium #bat2,
.chromium #network,
.chromium #backlight,
.chromium #custom-vpn,
.chromium #custom-pacman,
.chromium #custom-left
{
  background-color: #424242;
}

.chromium #custom-right2,
.chromium #custom-left
{
  color: #212121;
}

.chromium #custom-left3 {
  color: #424242;
}

.chromium #custom-right {
  color: #ECEFF4;
}

.chromium #workspaces
{
  background-color: #ECEFF4;
} */

/* End: Chromium rewrite styles */

#clock,
#pulseaudio,
#tray,
#language,
#window,
#cpu,
#memory,
#battery,
#bat2,
#network,
#backlight,
#custom-pacman,
#custom-vpn,
#custom-media
{
  color: #ECEFF4;
  padding: 2px 10px 0px;
  margin: 0;
}

#clock,
#tray
{
  background-color: #434C5E;
}

#language,
#battery,
#bat2,
#network,
#backlight,
#custom-vpn,
#custom-pacman {
  background-color: #3B4252;
}

#window {
  background-color: #3B4252;
  color: #ECEFF4;
}

#window label {
  font-size: 0;
}

#window.empty {
  padding: 0;
}

#workspaces {
  background-color: #88C0D0;
}

#workspaces button {
  padding: 0px;
  margin: 0 5px;
  color: rgba(76, 86, 106, 0.3);
  background-color: transparent;
}

#workspaces button:hover {
  color: #2E3440;
  text-shadow: none;
  background: transparent;
  box-shadow: none;
  border-color: transparent;
}

#workspaces button.focused {
  color: #2E3440;
}

#workspaces button.urgent {
  color:  #BF616A;
}

#custom-right,
#custom-right2,
#custom-left,
#custom-left2,
#custom-left3,
#custom-left4
{
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#custom-right {
  background-color: #3B4252; 
  color: #88C0D0;
}

#custom-right2 {
  color: #3B4252; 
}

#custom-left {
  color: #434C5E;
  background-color: #3B4252;
}

#custom-left2, #custom-left4 {
  color: #ECEFF4;
}

#custom-left3 {
  color: #3B4252;
}

#custom-left4 {
  background-color: #3B4252;
}