window {
  border: 1px solid #30363d;
  background-color: #161b22;
}
  
#input {
  margin: 5px;
  border: 1px solid #30363d;
  border-radius: 6px 6px 0 0;
  background-color: #0d1117;
}

#input:focus {
  border-color: #30363d;
}
  
#inner-box {
  background-color: #0d1117;
}

#entry {
  border-bottom: 1px solid #30363d;
  color: #8b949e;
  padding: 0px 5px;
}
  
#outer-box {
  margin: 10px;
  background-color: #161b22;
}

#entry:selected {
  background-color: #1f6feb;
}
  
#scroll {
  margin: 5px;
}
  
#text {
  margin: 5px;
  color: #8b949e;
  background-color: transparent;
}

#text:selected, #img {
  color: #ffffff;
}
